.textarea-enter {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
.textarea-enter-active {
  opacity: 1;
  max-height: 20rem;
  transition: max-height 300ms ease, opacity 300ms ease;
}
.textarea-exit {
  opacity: 1;
  max-height: 20rem;
}
.textarea-exit-active {
  opacity: 0;
  max-height: 0;
  transition: max-height 300ms ease, opacity 300ms ease;
}
